.type-22 {
$color-1 : #898989;
$color-2 : #f07677;
$color-3 : #6b5c5c;
$color-boder : #000;
$color-box : #e5e1e1;
$font-size-1 : 15px;
$font-size-2 : 35px;
$font-size-3 : 25px;


    .content {
        p {
            margin: 10px 0;
            font: normal 12px/18px "Droid Sans";
            color: $color-1;
            display: block;
            font-size: $font-size-1;
            em {
                font: italic 12px/18px "Arial";
                font-size: 15px;
            }
        }

        h3 {
            margin: 20px 0;
            font: normal 30px/30px "Clicker Script";
            color: $color-2;
            font-size: $font-size-2;
        }

        h4 {
            margin: 20px 0;
            font: normal 30px/30px "Clicker Script";
            color: #83a98a;
            font-size: $font-size-2;
        }

        blockquote {
            padding-left: 20px;
            border-left: 5px solid $color-boder;
            margin: 30px 0;
            p {
                font: normal 20px/35px "Cinzel";
                font-size: $font-size-3;
                letter-spacing: 1px;
            }
        }

        ul {
            color: $color-1;
            
        }

        .text-box {
            background-color: $color-box;
            padding: 10px 20px;
            p {
                color: $color-3;
            }
        }
    }

    @media screen and(max-width : 1020px) {
        padding: 0 10px;
    }
    @media screen and(max-width : 768px) {
        padding: 0 50px;
    }
}