@font-face {
    font-family: Cinzel;
    src: url(../font/Cinzel-Regular.ttf);
}
@font-face {
    font-family: Clicker Script;
    src: url(../font/ClickerScript-Regular.ttf);
}

.type-10 {
    $background-color : #898989;
    $color-text : #cacaca;
    $color-hover : #fff;
    $height : 178px;
    $padding : 15% 0;
    $font-size-big : 25px;
    $font-size-small : 15px;
    background: $background-color;
    font-family: Cinzel;
    .text-left{
        height: $height;
        text-align: center;
        padding: $padding;
        color: $color-text;
        h2 {
            text-align: center;
            font-size: $font-size-big;
        }
        h6 {
            text-align: center;
            font-size: $font-size-small;
        }
    }

    .text-mid {
        margin: 5px auto;
        text-align: center;
        padding: 20px 0;
    }

    .text-right {
        height: $height;
        text-align: center;
        padding: $padding;
        color: $color-text;
        h2 {
            text-align: center;
            font-size: $font-size-big;
        }
        a {
            color: $color-text;
            text-align: center;
            text-decoration: none;
            h6 {
                font-size: $font-size-small;
                &:hover{
                    color: $color-hover;
                }
            }
        }
    }
}