@font-face {
  font-family: Clicker Script;
  src: url(../fonts/ClickerScript-Regular.ttf);
}

@font-face {
  font-family: Cinzel;
  src: url(../fonts/Cinzel-Regular.ttf);
}

@font-face {
  font-family: Lato;
  src: url(../fonts/Lato-Regular.ttf);
}

.type-12 {
  font-family: Cinzel;
}

.type-12 .title {
  text-align: center;
  padding: 30px 0 40px;
  font-size: 26px;
  line-height: 26px;
}

.type-12 i {
  color: gray;
}

.type-12 .post-article {
  margin-bottom: 50px;
}

.type-12 .post-article .post-title {
  font-size: 20px;
  line-height: 28px;
}

.type-12 .post-article .post-title a {
  color: #000;
  text-decoration: none;
}

.type-12 .post-article .post-title a:hover {
  color: #f17677;
}

.type-12 .post-article .post-media {
  position: relative;
}

.type-12 .post-article .post-media:hover {
  cursor: pointer;
}

.type-12 .post-article .post-media:hover .thumbnail-overlay {
  opacity: .8;
}

.type-12 .post-article .post-media img {
  max-width: 100%;
  display: block;
  height: auto;
  -webkit-transition: .5s ease;
  transition: .5s ease;
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
  opacity: 1;
}

.type-12 .post-article .post-media .thumbnail-overlay {
  -webkit-transition: .5s ease;
  transition: .5s ease;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  z-index: 2;
  position: absolute;
  overflow: hidden;
  background-color: rgba(0, 0, 0, 0.8);
  text-align: center;
  text-decoration: none;
  opacity: 0;
}

.type-12 .post-article .post-media .thumbnail-overlay:hover .btn-more {
  -webkit-animation: up-btn .5s ease-in-out;
          animation: up-btn .5s ease-in-out;
}

.type-12 .post-article .post-media .thumbnail-overlay .btn-more {
  -webkit-transition: all .5s;
  transition: all .5s;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  z-index: 555;
  opacity: 1;
  font-size: 20px;
  line-height: 28px;
  font-family: Cinzel;
  color: #fff;
  background-color: #ed5f60;
  padding: 8px 30px;
  border-radius: 20px;
}

.type-12 .post-article .post-media .swiper-container .swiper-wrapper .swiper-slide img {
  width: 100%;
}

.type-12 .post-article .post-media .swiper-container .swiper-button-next,
.type-12 .post-article .post-media .swiper-container .swiper-button-prev {
  color: gray;
}

.type-12 .post-article .post-media .swiper-container .swiper-button-next:hover,
.type-12 .post-article .post-media .swiper-container .swiper-button-prev:hover {
  color: #f17677;
}

.type-12 .post-article .post-content {
  font-size: 12px;
  line-height: 18px;
  font-family: Lato;
  margin: 10px 0;
}

.type-12 .post-article .post-date i {
  float: left;
  margin-right: 10px;
}

.type-12 .post-article .post-date h5 {
  color: #393939;
  font-size: 12px;
  line-height: 16px;
  font-size: 12px;
  line-height: 16px;
}

.type-12 .post-article .clear {
  clear: both;
}

.type-12 .post-article .post-meta div.author,
.type-12 .post-article .post-meta div.comment,
.type-12 .post-article .post-meta div.category,
.type-12 .post-article .post-meta div.tag {
  float: left;
  margin: -1px 0 0 -1px;
  padding: 15px 15px 12px;
}

.type-12 .post-article .post-meta div.author i,
.type-12 .post-article .post-meta div.comment i,
.type-12 .post-article .post-meta div.category i,
.type-12 .post-article .post-meta div.tag i {
  margin: 0 5px;
}

.type-12 .post-article .post-meta div.author .count,
.type-12 .post-article .post-meta div.comment .count,
.type-12 .post-article .post-meta div.category .count,
.type-12 .post-article .post-meta div.tag .count {
  font-size: 12px;
  line-height: 20px;
  font-family: Cinzel;
  color: #f17677;
}

.type-12 .post-article .post-meta a {
  font-size: 12px;
  line-height: 20px;
  font-family: Cinzel;
  color: #f17677;
}

.type-12 .post-article .post-meta div.love {
  float: right;
  margin: -1px 0 0 -1px;
  padding: 15px 15px 12px;
}

.type-12 .post-article .post-meta div.love div {
  cursor: pointer;
  display: inline;
  font-size: 12px;
}

.type-12 .post-article .post-meta div.love div .fa-heart {
  color: gray;
}

.type-12 .post-article .post-meta div.love div span {
  color: #000;
  font-size: 14px;
}

.type-12 .pagination {
  float: right;
}

.type-12 .pagination .page-item .page-link {
  margin: 0 5px;
  border: none;
  color: #f17677;
  padding: 2px 8px 3px !important;
  font-size: 12px;
  line-height: 18px;
  font-family: Lato;
}

.type-12 .pagination .active .page-link {
  background-color: #000 !important;
  color: #fff !important;
}

@-webkit-keyframes up-btn {
  from {
    top: 70%;
  }
  to {
    top: 50%;
  }
}

@keyframes up-btn {
  from {
    top: 70%;
  }
  to {
    top: 50%;
  }
}
/*# sourceMappingURL=12.css.map */