@font-face {
    font-family: Clicker Script;
    src: url(../fonts/ClickerScript-Regular.ttf)
}

@font-face {
    font-family: Cinzel;
    src: url(../fonts/Cinzel-Regular.ttf)
}

@font-face {
    font-family: Lato;
    src: url(../fonts/Lato-Regular.ttf)
}

.type-28 {
    $h4-color: #83a98a;
    $p-color: #898989;
    @mixin text ($fontSize, $lineHeight) {
        font-size: $fontSize;
        line-height: $lineHeight;
    }
    h1 {
        padding: 30px 0 40px;
        @include text(26px, 36px);
        font-family: Cinzel;
        text-align: center;
    }
    .img-wrapper {
        .push {
            height: 100px;
        }
        .image-story {
            margin: 5px 20px 5px 0;
            display: block;
            // width: 538px;
            // height: 536px;
            box-sizing: border-box;
        }
    }
    .content-wrapper {
        .push {
            height: 180px;
        }
        h2 {
            @include text(20px, 28px);
            font-family: Cinzel;
        }
        h4 {
            @include text(24px, 30px);
            font-family: Clicker Script;
            font-weight: 300;
            color: $h4-color;
        }
        p {
            @include text(12px, 18px);
            font-family: Lato;
            color: $p-color;
        }
    }
    @media (max-width: 991px) {
        .img-wrapper {
            .image-story {
                margin: 0 auto;
            }
        }
        .content-wrapper {
            text-align: center;
            .push {
                height: 100px;
            }
        }
    }
}