@font-face {
    font-family: Clicker Script;
    src: url(../fonts/ClickerScript-Regular.ttf)
}

@font-face {
    font-family: Cinzel;
    src: url(../fonts/Cinzel-Regular.ttf)
}

@font-face {
    font-family: Lato;
    src: url(../fonts/Lato-Regular.ttf)
}

.type-12 {
    $title-hover: #f17677;
    @mixin text($fS, $lH) {
        font-size: $fS;
        line-height: $lH;
    }
    font-family: Cinzel;
    .title {
        text-align: center;
        padding: 30px 0 40px;
        @include text(26px, 26px);
    }
    i {
        color: gray;
    }
    .post-article {
        margin-bottom: 50px;
        .post-title {
            a {
                color: #000;
                text-decoration: none;
                &:hover {
                    color: $title-hover;
                }
            }
            @include text(20px, 28px);
        }
        .post-media {
            position: relative;
            &:hover {
                cursor: pointer;
                .thumbnail-overlay {
                    opacity: .8;
                }
            }
            img {
                max-width: 100%;
                display: block;
                height: auto;
                transition: .5s ease;
                backface-visibility: hidden;
                opacity: 1;
            }
            .thumbnail-overlay {
                transition: .5s ease;
                top: 0;
                left: 0;
                bottom: 0;
                right: 0;
                z-index: 2;
                position: absolute;
                overflow: hidden;
                background-color: rgba(0, 0, 0, .8);
                text-align: center;
                text-decoration: none;
                opacity: 0;
                &:hover {
                    .btn-more {
                        animation: up-btn .5s ease-in-out;
                    }
                }
                .btn-more {
                    transition: all .5s;
                    position: absolute;
                    top: 50%;
                    left: 50%;
                    transform: translate(-50%, -50%);
                    z-index: 555;
                    opacity: 1;
                    @include text(20px, 28px);
                    font-family: Cinzel;
                    color: #fff;
                    background-color: #ed5f60;
                    padding: 8px 30px;
                    border-radius: 20px;
                }
            }
            .swiper-container {
                .swiper-wrapper {
                    .swiper-slide {
                        img {
                            width: 100%;
                        }
                    }
                }
                .swiper-button-next,
                .swiper-button-prev {
                    color: gray;
                    &:hover {
                        color: $title-hover;
                    }
                }
            }
        }
        .post-content {
            @include text(12px, 18px);
            font-family: Lato;
            margin: 10px 0;
        }
        .post-date {
            i {
                float: left;
                margin-right: 10px;
            }
            h5 {
                color: #393939;
                font-size: 12px;
                line-height: 16px;
                @include text(12px, 16px);
            }
        }
        .clear {
            clear: both;
        }
        .post-meta {
            div.author,
            div.comment,
            div.category,
            div.tag {
                float: left;
                margin: -1px 0 0 -1px;
                padding: 15px 15px 12px;
                i {
                    margin: 0 5px;
                }
                .count {
                    @include text(12px, 20px);
                    font-family: Cinzel;
                    color: $title-hover;
                }
            }
            a {
                @include text(12px, 20px);
                font-family: Cinzel;
                color: $title-hover;
            }
            div.love {
                float: right;
                margin: -1px 0 0 -1px;
                padding: 15px 15px 12px;
                div {
                    cursor: pointer;
                    display: inline;
                    font-size: 12px;
                    .fa-heart {
                        color: gray;
                    }
                    span {
                        color: #000;
                        font-size: 14px;
                    }
                }
            }
        }
    }
    .pagination {
        float: right;
        .page-item {
            .page-link {
                margin: 0 5px;
                border: none;
                color: $title-hover;
                padding: 2px 8px 3px !important;
                @include text(12px, 18px);
                font-family: Lato;
            }
        }
        .active {
            .page-link {
                background-color: #000 !important;
                color: #fff !important;
            }
        }
    }
    @keyframes up-btn {
        from {
            top: 70%;
        }
        to {
            top: 50%;
        }
    }
}