@font-face {
    font-family: Clicker Script;
    src: url(../fonts/ClickerScript-Regular.ttf)
}

@font-face {
    font-family: Cinzel;
    src: url(../fonts/Cinzel-Regular.ttf)
}

.type-21 {
    $text-color: #f07677;
    @mixin text($fontSize, $lineHeight) {
        font-size: $fontSize;
        line-height: $lineHeight;
    }
    .first-row {
        background: #fff;
        height: 221px;
        width: 100%;
        .logo-wrapper {
            text-align: center;
            .logo {
                position: relative;
                top: 5px;
                height: 100%;
                display: inline-block;
                text-decoration: none !important;
                img {
                    height: 112px;
                }
            }
            .logo-title {
                @include text(50px, 30px);
                font-family: Clicker Script;
                text-decoration: none;
                color: $text-color;
                position: relative;
                display: inline-block;
                top: -5px;
                white-space: nowrap;
                z-index: 10;
                .left-name {
                    position: absolute;
                    right: 200%;
                    top: .1em;
                }
                .name-delimiter {
                    display: inline-block;
                    color: #000;
                    @include text(30px, 30px);
                }
                .right-name {
                    position: absolute;
                    left: 200%;
                    top: .1em;
                }
            }
            .logo-tagline {
                padding-bottom: 20px;
                padding-top: 5px;
                @include text(12px, 20px);
                display: block;
                color: #898989;
                letter-spacing: 4px;
                font-family: Cinzel;
            }
        }
    }
    .second-row {
        h2 {
            text-align: center;
            @include text(26px, 36px);
            font-family: Cinzel;
        }
    }
}