@font-face {
    font-family: Cinzel;
    src: url(../font/Cinzel-Regular.ttf);
}
@font-face {
    font-family: Clicker Script;
    src: url(../font/ClickerScript-Regular.ttf);
}
.type-18 {
    $padding-row : 15px 0;
    $width-img : 340px;
    $backround-hover : #ed5f60;
    $color-btn : #fff;
    font-family: Cinzel;

    @mixin eye {
        opacity: 0;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        -ms-transform: translate(-50%, -50%);
        text-align: center;
        font-size: 50px;
    
            &:hover {
                cursor: pointer;
            }
        }
    
        @mixin background {
            position: absolute;
            top: 0;
            bottom: 0;
            left: 0;
            right: 0;
            height: auto;
            width: 100%;
            opacity: 0;
            transition: .5s ease;
            background-color: $backround-hover;
            cursor: pointer;
        }

    .title {
        text-align: center;
        padding: 50px;
        font-size: 40px;
    }

    ul{
        position: absolute;
        left: 50%;
        transform: translateX(-50%);
        li {
            
            a {
                color: #f17677;
            }
        }
    } 
    .tab-content {
        margin-top: 100px;
    }
    .table-1 {
        padding: $padding-row;
        .gird-1 {
            position: relative;
            width: 340px;
            img{
                display: block;
                width: 100%;
                height: auto;
            }

            .middle {
                @include background();
                    .icon {
                        @include eye;
                    }
                
            }
            
            &:hover {
                img {
                    opacity: 0.3 ;
                    transition: 0.5s;   
                }

                .middle {
                    opacity: 0.5 ;
                    transition: 0.5s;
                    .icon {
                        opacity: 1;
                        transition: 0.5s;
                        color: $color-btn;
                    }
                }
            }    
        }
        
        
    }
}