@font-face {
    font-family: Clicker Script;
    src: url(../fonts/ClickerScript-Regular.ttf)
}

@font-face {
    font-family: Cinzel;
    src: url(../fonts/Cinzel-Regular.ttf)
}

@font-face {
    font-family: Lato;
    src: url(../fonts/Lato-Regular.ttf)
}

.type-26 {
    $title-hover: #f17677;
    @mixin text($fS, $lH) {
        font-size: $fS;
        line-height: $lH;
    }
    font-family: Cinzel;
    .title {
        font-size: 26px;
        text-align: center;
        font-family: Cinzel;
        padding: 30px 0 40px;
    }
    i {
        color: gray;
    }
    .post-article {
        margin-bottom: 50px;
        .post-title {
            a {
                color: #000;
                text-decoration: none;
                &:hover {
                    color: $title-hover;
                }
            }
            @include text(20px, 28px);
        }
        .post-content {
            @include text(12px, 18px);
            font-family: Lato;
            margin: 10px 0;
        }
        .post-date {
            i {
                float: left;
                margin-right: 5px;
            }
            h5 {
                color: #393939;
                @include text(12px, 16px);
                font-family: Cinzel;
            }
        }
        .clear {
            clear: both;
        }
        .post-meta {
            div.author,
            div.comment,
            div.category,
            div.tag {
                float: left;
                margin: -1px 0 0 -1px;
                padding: 15px 15px 12px;
                i {
                    margin: 0 5px;
                }
                .count {
                    @include text(12px, 20px);
                    font-family: Cinzel;
                    color: $title-hover;
                }
            }
            a {
                @include text(12px, 20px);
                font-family: Cinzel;
                color: $title-hover;
            }
            div.love {
                float: right;
                margin: -1px 0 0 -1px;
                padding: 15px 15px 12px;
                div {
                    font-size: 12px;
                    display: inline;
                    cursor: pointer;
                    .fa-heart {
                        color: gray;
                    }
                    span {
                        color: #000;
                        font-size: 14px;
                    }
                }
            }
        }
    }
    .pagination {
        float: right;
        .page-item {
            .page-link {
                margin: 0 5px;
                border: none;
                color: $title-hover;
                padding: 2px 8px 3px !important;
                @include text(12px, 18px);
                font-family: Lato;
            }
        }
        .active {
            .page-link {
                background-color: #000 !important;
                color: #fff !important;
            }
        }
    }
    @keyframes up-btn {
        from {
            top: 70%;
        }
        to {
            top: 50%;
        }
    }
}