@font-face {
    font-family: Clicker Script;
    src: url(../fonts/ClickerScript-Regular.ttf)
}

@font-face {
    font-family: Cinzel;
    src: url(../fonts/Cinzel-Regular.ttf)
}

.type-13 {
    @mixin text($fontSize, $lineHeight) {
        font-size: $fontSize;
        line-height: $lineHeight;
    }
    $read-more-color: #f17677;
    $content-color: #898989;
    font-family: Cinzel;
    .title {
        text-align: center;
        padding: 30px 0;
        @include text(26px, 36px);
    }
    .post-title {
        text-align: center;
        padding: 20px 0 5px;
        @include text(20px, 28px);
    }
    .post-content {
        color: $content-color;
        @include text(12px, 18px);
    }
    .read-more {
        color: $read-more-color;
        text-decoration: none;
        @include text(12px, 18px);
    }
}